@charset "utf-8";
body, button, dd, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, input, legend, li, ol, p, select, table, td, textarea, th, ul, span, strong, em {
    margin: 0;
    padding: 0;
}
ul, ol{
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
}
html{
    font-size: 16px;
}
body{
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
    line-height: 1.5rem;
    color: #333;
}
#wrap{
    min-width: 1400px;
    overflow: hidden;
}
header{
    border-bottom: 1px solid #333;
    height: 100px;
    box-sizing: border-box;
}
.inner_header{
    width: 1320px;
    height: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.gnb{
    display: flex;
    width: 60%;
    font-weight: bold;
}
.gnb li{
    padding: 0 20px;
}
.circle{
    position: absolute;
    top: 29px;
    left: 137px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid rgb(255, 67, 67);
    z-index: -9;
}
.gnb li:nth-child(1) a:hover{
    color: rgb(255, 67, 67);
}
.gnb li:nth-child(2) a:hover{
    color: rgb(255, 190, 70);
}
.gnb li:nth-child(3) a:hover{
    color: rgb(138, 52, 250);
}
.gnb li:nth-child(4) a:hover{
    color: rgb(46, 117, 248);
}
.util{
    width: 30%;
    display: flex;
    justify-content: space-between;
}
.search{
    position: relative;
    width: 280px;
    height: 40px;
    border: 1px solid #aaa;
    border-radius: 20px;
    box-sizing: border-box;
}
.search input{
    padding-left: 20px;
    width: 100%;
    height: 100%;
    display: block;
    outline: none;
    border: none;
    background-color: transparent;
}
.search input::placeholder{
    color: #ccc;
}
.search_icon{
    position: absolute;
    top: 4px;
    right: 10px;
}
.util ul{
    display: flex;
    margin-top: 5px;
}
.util ul li:nth-child(2){
    padding-left: 20px;
}
.util ul li img{
    display: block;
}

@keyframes next{
    0%{
        background: url(../images/sub1/sub1_1.png) no-repeat center;
    }
    18%{
        background: url(../images/sub1/sub1_1.png) no-repeat center;
    }
    33%{
        background: url(../images/sub1/sub1_2.png) no-repeat center;
    }
    51%{
        background: url(../images/sub1/sub1_2.png) no-repeat center;
    }
    66%{
        background: url(../images/sub1/sub1_3.png) no-repeat center;
    }
    85%{
        background: url(../images/sub1/sub1_3.png) no-repeat center;
    }
    100%{
        background: url(../images/sub1/sub1_1.png) no-repeat center;
    }
}
#banner{
    background: url(../images/sub1/sub1_3.png) no-repeat center;
    height: 700px;
    position: relative;
    overflow: hidden;
    animation: next 20s linear infinite;
}
.inner_banner{
    width: 1920px;
    position: absolute;
    left: 50%;
    margin-left: -960px;
    background: url(../images/sub1/sub1_3.png) no-repeat center;
    animation: next 20s linear infinite;
}

/* section1 */
.section1{
    width: 1320px;
    height: 1150px;
    margin: 0 auto;
    margin-top: 100px;
    border-radius: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 14px rgba(0, 0, 0, 0.5);
}
.img_section1{
    padding-bottom: 50px;
}
.text_section1{
    margin-top: 30px;
    width: 1200px;
    height: 260px;
    box-shadow: 0 0 14px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
.text_section1 span{
    font-size: 24px;
    font-weight: bold;
}

/* section2 */
.section2{
    width: 1320px;
    height: 700px;
    margin: 0 auto;
    position: relative;
    margin-top: 100px;
}
.img_section2{
    width: 100%;
    height: 100%;
}
.img_section2 ul{
    width: 100%;
    height: 100%;
    display: flex;
}
.img_section2 ul li{
    width: 25%;
    height: 100%;
}
@keyframes img1 {
    0%{
        background-image: url(../images/sub1/section2/bulguksa.png);
    }
    15%{
        background-image: url(../images/sub1/section2/bulguksa.png);
    }
    20%{
        background-image: url(../images/sub1/section2/lahan.png);
    }
    70%{
        background-image: url(../images/sub1/section2/lahan.png);
    }
    85%{
        background-image: url(../images/sub1/section2/bulguksa.png);
    }
    100%{
        background-image: url(../images/sub1/section2/bulguksa.png);
    }
}
@keyframes img2 {
    0%{
        background-image: url(../images/sub1/section2/bulguksa2.png);
    }
    20%{
        background-image: url(../images/sub1/section2/bulguksa2.png);
    }
    25%{
        background-image: url(../images/sub1/section2/lahan2.png);
    }
    75%{
        background-image: url(../images/sub1/section2/lahan2.png);
    }
    80%{
        background-image: url(../images/sub1/section2/bulguksa2.png);
    }
    100%{
        background-image: url(../images/sub1/section2/bulguksa2.png);
    }
}
@keyframes img3 {
    0%{
        background-image: url(../images/sub1/section2/bulguksa3.png);
    }
    25%{
        background-image: url(../images/sub1/section2/bulguksa3.png);
    }
    30%{
        background-image: url(../images/sub1/section2/lahan3.png);
    }
    80%{
        background-image: url(../images/sub1/section2/lahan3.png);
    }
    85%{
        background-image: url(../images/sub1/section2/bulguksa3.png);
    }
    100%{
        background-image: url(../images/sub1/section2/bulguksa3.png);
    }
}
@keyframes img4 {
    0%{
        background-image: url(../images/sub1/section2/bulguksa4.png);
    }
    30%{
        background-image: url(../images/sub1/section2/bulguksa4.png);
    }
    35%{
        background-image: url(../images/sub1/section2/lahan4.png);
    }
    85%{
        background-image: url(../images/sub1/section2/lahan4.png);
    }
    90%{
        background-image: url(../images/sub1/section2/bulguksa4.png);
    }
    100%{
        background-image: url(../images/sub1/section2/bulguksa4.png);
    }
}
.img_section2 ul li:nth-child(1){
    background: url(../images/sub1/section2/bulguksa.png) no-repeat center;
    animation: img1 10s ease infinite;
    border-radius: 30px 0 0 30px;
}
.img_section2 ul li:nth-child(2){
    background: url(../images/sub1/section2/bulguksa2.png) no-repeat center;
    animation: img2 10s ease infinite;
}
.img_section2 ul li:nth-child(3){
    background: url(../images/sub1/section2/bulguksa3.png) no-repeat center;
    animation: img3 10s ease infinite;
}
.img_section2 ul li:nth-child(4){
    background: url(../images/sub1/section2/bulguksa4.png) no-repeat center;
    animation: img4 10s ease infinite;
    border-radius: 0 30px 30px 0;
}
.text_section2{
    position: absolute;
    top: 325px;
    left: 260px;
    z-index: 9;
    background-color: rgba(255, 255, 255, 0.5);
    width: 800px;
    height: 50px;
    text-align: center;
    border-radius: 20px;
}
/* section3 */

.section3{
    width: 1320px;
    margin: 0 auto;
    margin-top: 100px;
}
.section3 h1{
    text-align: center;
}
.section3_box{
    width: 100%;
    height: 800px;
    margin-top: 50px;
    box-shadow: 0 0 14px rgba(0, 0, 0, 0.5);
    border-radius: 30px;
}
.section3_box ul{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.section3_box ul li{
    margin-top: 50px;
    width: 585px;
    height: 325px;
    border-radius: 30px;
    box-shadow: 0 0 14px rgba(0, 0, 0, 0.5);
    padding-left: 30px;
    position: relative;
    font-weight: bold;
}
.section3_box h2{
    padding-top: 30px;
    padding-bottom: 70px;
}
.img_section3{
    position: absolute;
    top: 62.5px;
    right: 30px;
    width: 200px;
    height: 200px;
}
/* bottom_banner */
#bottom_banner{
    height: 500px;
    position: relative;
    margin-top: 100px;
}
.inner_bottom{
    height: 100%;
    position: absolute;
    width: 1920px;
    left: 50%;
    margin-left: -960px;
    background: url(../images/sub1/bottom_banner.png) no-repeat center;
}
/* footer */
#footer{
    height: 258px;
    background-color: #333;
}
.inner_footer{
    width: 1320px;
    margin: 0 auto;
    color: #aaa;
}
.inner_footer>ul{
    padding-top: 63px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sns{
    display: flex;
}
.sns li{
    margin-left: 10px;
}